.desktopView {
  display: block;
}

.genreContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.genreBox {
  flex: 1 1 calc(33.333% - 10px);
  margin-bottom: 10px;
  box-sizing: border-box;
  position: relative;
  text-align: center;
}
