.artCardContainer {
  position: relative;
  display: inline-block;
  text-align: center;
  align-items: center;
}

.genreText {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #eec759;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
  color: white;
  font-size: 44px;
}

.artCardContainer:hover .genreText {
  opacity: 1;
}

.artCardContainer img {
  height: 90%;
  width: 100%;
  transition: 0.3s ease;
}

.artCardContainer:hover img {
  opacity: 0.2;
  /*filter: brightness(20%);*/
}
