:root {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #12161f;
  text-decoration: inherit;
}
a:hover {
  color: #a3a3a3;
}

body {
  margin: 0;
  color: #12161f;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  padding-top: 40px;
  color: #12161f;
}

/* APP Component CSS */
#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}
